<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Spring Security Example</title>
</head>
<body>
<header>
    <nav>
        <a th:if="${userroles.contains('ROLE_ADMIN')}" href="/admin">Страница Администратора</a>
        <a href="/user">Кабинет пользователя</a>
        <a href="/logout">Выйти</a>
    </nav>
</header>
<h1>User, welcome spring boot security page!</h1>
<table class="table table-striped caption-top">
    <tr>
        <th>ID</th>
        <th>First name</th>
        <th>Last name</th>
        <th>Login</th>
        <th>Age</th>
        <th>Roles</th>
    </tr>
    <tr>
        <td th:text="${userinfo.getId()}"></td>
        <td th:text="${userinfo.getFirstName()}"></td>
        <td th:text="${userinfo.getLastName()}"></td>
        <td th:text="${userinfo.getUsername()}"></td>
        <td th:text="${userinfo.getAge()}"></td>
        <td> <th:block th:each="role:${userinfo.getAuthorities()}">
            <span th:text="${role.authority}"></span>
        </th:block></td>
</table>

</body>
</html>